*.pyc
__pycache__/
db.sqlite3
media/
staticfiles/
.env
venv/
.vscode/
.idea/

# Node
node_modules/
dist/
.DS_Store

# Flutter
mobile/.dart_tool/
mobile/.packages
mobile/.pub-cache/
mobile/.pub/
mobile/build/
mobile/linux/flutter/ephemeral/
mobile/windows/flutter/ephemeral/
mobile/macos/flutter/ephemeral/
